<div class="w-full mb-2 p-6 bg-gray-100 flex relative">
  <a href="/">
    <h1 class="flex-1 my-auto text-4xl font-bold drop-shadow uppercase text-black">
      LOGO
    </h1>
  </a>
    <div class="flex-1 absolute right-4 my-auto">
      <div class="search-bar flex">
        <input
        class="w-44 max-w-full m-1 p-1 bg-transparent border-b-2 border-black text-gray-500"
        type="text"
        placeholder="Search..."
        [(ngModel)]="searchTerm"
        (input)="newSearch()"
      /> 
      <fa-icon class="text-2xl pt-2" [icon]="faMagnifyingGlass"></fa-icon>
      <fa-icon class="text-2xl p-2 ml-2 hover:text-blue-800" [icon]="faUser"></fa-icon>
    </div>
    
    </div>
  </div>
  