<div
  class="fixed bottom-0 bg-slate-50 w-full py-2.5 borer-solid border-t-2 border-blue-500 flex place-content-center"
>
  <div class="float-left ml-5">
    <p class="text-xs">
      This project uses
      <a
        class="underline font-bold"
        href="https://open-api.myhelsinki.fi/"
        target="_blank"
        >Helsinki Open API</a
      >
    </p>
    <p class="text-xs">© 2023</p>
  </div>
  <div class="mx-auto"></div>
  <div class="float-right mr-5">
    <a
      routerLink="login"
      class="underline text-xs pr-2 text-purple-700 font-bold"
      >About us</a
    >
    <a href="/">
      <fa-icon
        class="hover:text-purple-700 text-xl"
        [icon]="faGithub"
      ></fa-icon>
    </a>
  </div>
</div>
