<div class="container max-w-xl mx-auto m-2">
    <div *ngFor="let event of tapahtumat">
        <div 
        class="m-2 flex flex-wrap justify-content-between" 
        style="border: 1px solid black; border-radius: 5px;">
            <div class="min-w-[25%]">
                <div class="m-2" style="border: 1px solid black; width: 100px; height: 100px; border-radius: 5px;">
                    <div class="text-center pt-9">Image</div>
                </div>
            </div>
            <div class="max-w-[55%] m-2">
                <h1 class="text-base mb-1 font-semibold" (click)="navigateToDetails()">{{ event.nimi }}</h1>
                <p class="text-sm">{{ event.kuvaus }}</p>
                <p class="my-2 text-sm">{{ event.email }}</p>
                <p class="text-sm">{{ event.luokka }}</p>
            </div>
        </div>
    </div>
</div>
