<div id="bg-img" class="bg-white mb-4 drop-shadow-lg">
  <img
    src="assets/img/bg/{{ bgimg }}"
    class="m-auto w-full md:w-4/6 lg:w-3/6"
    alt="illustration to add color"
  />
</div>

<main class="mx-5 mt-2 pb-8 md:flex md:relative">
  <article
    id="map-cont"
    class="mx-auto my-3 md:basis-1/2 md:fixed md:left-5 md:w-5/12"
  >
    <div class="p-2 flex place-content-center">
      <input
        type="text"
        placeholder="syötä sijainti..."
        class="my-0.5 mb-1 p-2 border-solid border-2 border-orange-400 rounded-lg w-full md:w-5/6"
      />
      <button
        class="bg-orange-400 -ml-10 px-6 m-0.5 rounded-lg text-white font-bold text-lg"
      >
        <fa-icon
          class="text-white text-xl m-1 drop-shadow-lg"
          [icon]="faLocationDot"
        ></fa-icon>
      </button>
    </div>

    <app-geolocation class="text-xs"></app-geolocation>

    <div
      class="mt-2 w-full md:w-5/6 m-auto border-solid border-4 border-white rounded-lg"
    >
      <app-map></app-map>
    </div>
  </article>

  <article
    id="places-cont"
    class="md:basis-1/2 md:absolute md:right-5 md:w-1/2"
  >
    <div
      id="filter-buttons"
      class="my-3 p-2 bg-white rounded-lg flex place-content-center drop-shadow-md"
    >
      <button (click)="setFilter('restaurant')" class="filter-btn">
        <fa-icon class="text-white text-xl m-1" [icon]="faUtensils"></fa-icon>
      </button>
      <button (click)="setFilter('shopping')" class="filter-btn">
        <fa-icon
          class="text-white text-xl m-1"
          [icon]="faBagsShopping"
        ></fa-icon>
      </button>
      <button (click)="setFilter('activity')" class="filter-btn">
        <fa-icon class="text-white text-xl m-1" [icon]="faTicket"></fa-icon>
      </button>
      <button (click)="setFilter('sights')" class="filter-btn">
        <fa-icon class="text-white text-xl m-1" [icon]="faCamera"></fa-icon>
      </button>


     

      <button (click)="setFilter('cafés')" class="filter-btn">


        <fa-icon class="text-white text-xl m-1" [icon]="faMugSaucer"></fa-icon>
      </button>
      <button
        (click)="setFilter('')"
        class="m-0.5 bg-cyan-400 hover:bg-blue-600 text-white font-semibold py-2 px-3 rounded"
      >
        <fa-icon class="text-white text-xl m-1" [icon]="faXmark"></fa-icon>
      </button>
    </div>

    <div class="container max-w-xl mx-auto m-2 pb-4 md:pb-16">
      <!--<div
      class="container max-w-xl mx-auto m-2 pd-42"
      infinite-scroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="500"
      (scrolled)="onScrollDown()"
    >
      <div
        *ngFor="
          let i = index;
          let event;
          of: searchTerm ? (tapahtumat | filter  : searchTerm | orderBy: 'sijainti' ) : scrollTapahtumat | orderBy: 'sijainti'
        "
      >-->
      <!--<div *ngIf="fetchingPlaces" class="text-sm font-bold">Odotathan hetken, kun etsimme paikkoja läheltä Sinua</div>-->

      <div *ngIf="places.waitingPlaces" class="mx-auto text-center font-bold text-sm">

        Pieni hetki etsimme mahtavia paikkoja läheltäsi...
      </div>
      <div
        *ngFor="
          let i = index;
          let event;

          of: places.tapahtumat
            | filter : places.searchTerm
            | orderBy : 'sijainti'
            | paginate : { itemsPerPage: 5, currentPage: page }


        "
      >
        <div
          class="mb-2 p-2 border-solid border-2 border-cyan-400 rounded-lg bg-white"
        >
          <div
            *ngIf="userNameLogin | async"
            (click)="changeIcon(event.id, $event.target, i)"
            class="float-right text-xl"
            [class.active]="selectedItems[i]"
          >
          <i class="p-4 my-4 fa-lg cursor-pointer" style="color: #ff8400"
              [ngClass]="selectedItems[event.id]  ? 
              'fa-heart fa-solid' : 'fa-heart fa-regular'">
          </i>
          </div>

          <div class="m-2 mr-4 bg-cyan-500 float-left rounded-lg p-4 drop-shadow">
            <fa-icon
              class="grid place-content-center text-white text-2xl"
              [icon]="faIcons"
            ></fa-icon>
          </div>

          <div>
            <h2
              class="places-header text-base text-cyan-500 font-bold uppercase cursor-pointer leading-tight"
              (click)="
                navigateToDetails(
                  event.nimi,
                  event.kuvaus,
                  event.homesite,
                  event.osoite
                )
              "
            >
              {{ event.nimi }}
            </h2>

            <span class="font-semibold text-xs md:text-sm">www:</span>
            <a
              href="{{ event.homesite }}"
              target="_blank"
              class="font-semibold text-cyan-600 visited:text-purple-600 text-xs md:text-sm"
            >
              Siirry yrityksen omille sivuille
              <!--{{ event.homesite }}-->
            </a>
            <p class="text-xs md:text-sm">
              <span class="font-semibold">Location:</span> {{ event.osoite }}
            </p>
            <hr class="border-blue-900 my-2" />
            <p class="text-xs lowercase">
              <span class="text-cyan-500 font-semibold"> Tags:</span>
              {{ event.luokka }}
              <br />
              <span class="text-xs">ID: {{ event.id }}</span>
            </p>
          </div>
        </div>
      </div>
      <div class="has-text-centered flex justify-center">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
  </article>
</main>
