<div class="max-w-xl mx-auto m-4">
      <button  (click)="setFilter('restaurant')" class="ml-6 m-2 bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">Ravintolat</button>
      <button (click)="setFilter('shopping')" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">Shoppailu</button>
      <button (click)="setFilter('activity')" class="m-2 bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">Aktiviteetit</button>
      <button (click)="setFilter('museum')" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">Museot</button>
      <button (click)="setFilter('cafe')" class="m-2 bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">Kahvilat</button>
  </div>

<div class="container max-w-xl mx-auto m-2" infinite-scroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="500"
(scrolled)="onScrollDown()">
<div *ngFor="let i = index; let event of (searchTerm ? (tapahtumat | filter: searchTerm) : scrollTapahtumat)">

        <div class="m-2 flex flex-wrap justify-content-between" style="border: 1px solid black; border-radius: 5px; justify-content: space-between;">
            <div class="w-[25%]">
                <div class="m-2" style="border: 1px solid black; width: 100px; height: 100px; border-radius: 5px;">
                    <div class="text-center pt-9">Image</div>
                </div>
            </div>
            <div class="w-[55%] m-2">
                <h1 class="places-header text-base mb-1 font-semibold cursor-pointer" (click)="navigateToDetails(event.nimi, event.kuvaus, event.homesite, event.osoite)" >{{ event.nimi }}</h1>

                <p class="my-2 text-sm">
                    <a href="{{ event.homesite }}" target="_blank">{{ event.homesite }}</a>
                  </p>
                <p class="text-sm">{{ event.luokka }}</p>
                <p class="my-2 text-sm">{{ event.osoite }}</p>
            </div>
            <div (click)="changeIcon(event.id, $event.target, i)" class="w-[10%] mx-auto py-4" [class.active]="selectedItems[i]">
                <i class="p-4 fa-lg cursor-pointer"
                  style="color: #ff0066;"
                  [ngClass]="selectedItems[i] ? 'fa-heart fa-solid' : 'fa-heart fa-regular'">
                </i>
            </div>
              
              
     </div>
</div>
